@media only screen and (max-width: 600px) {
  .modal-content {
     margin: 0;
    margin-left: 32px;
    margin-top: 190px;
    position: fixed;
  }
  header {
    height: 185px;
  }
  .header-image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  #name {
    margin-left: -50px;
    text-wrap: nowrap;
  }
  .nav-list {
    margin-left: -36px;
    a {
      margin-right: -11px;
      font-size: 14px;
    }
    a.active {
      margin: 0;
    }
  }
  #login-form {
    h1 {
      margin-left: 132px;
    }
  }
  #services {
    margin: 11px;
    #valor {
      margin: -65px;
    }
    #agendar-btn {
      margin: -62px 53px;
    }
  }
}
