@media only screen and (max-width: 600px) {
  .modal-content {
    margin: 44px;
    margin-top: 190px;
  }
  header {
    height: 185px;
  }
  .header-image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  .nav-list {
    margin-left: -36px;
    a {
      margin-right: -11px;
      font-size: 14px;
    }
    a.active {
      margin: 0;
    }
  }
  #login-form {
    h1 {
      margin-left: 132px;
    }
  }
}
