@media only screen and (max-width: 600px) {
  .modal-content {
    margin: 44px;
    margin-top: 190px;
  }
  header {
    height: 185px;
  }
  iheader-img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  #name {
  }
}
