:root {
  --main-font: "Roboto", sans-serif;
  --cor--cinza: #bdbdbd;
  --cor--cinza-escuro: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--main-font);
  background-color: rgb(238, 238, 255);
  overflow-x: hidden;
}

header {
  background-color: var(--cor--cinza);
  width: 100%;
  height: 32vh;
  box-sizing: border-box;
  position: relative;
}

.header-image {
  width: 18%;
  height: 30vh;
  position: absolute;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--cor--cinza);
}

#name h1 {
  margin: 60px;
  font-weight: 400;
}

#name p {
  margin: 60px;
  color: var(--cor--cinza-escuro);
  margin-top: -35px;
}

#midiasocial {
  float: right;
  position: relative;
  margin-right: 750px;
  margin-top: -80px;
}

#midiasocial img {
  width: 30px;
  margin-right: 30px;
}

.menu {
  background-color: var(--cor--cinza-escuro);
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: auto;
  position: relative;
}

.nav-list li {
  margin-left: 20px;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: color 0.3s;
  padding-bottom: 5px;
}

.nav-list li a:hover,
.nav-list li a.active {
  color: #f4f4f4;
}

.nav-list li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* .boxpesquisa {
          background-color: #bdbdbd65;
          width: 320px;
          height: 30px;
          position: fixed;
          margin-top: 90px;
          margin-left: 16px;
          border-radius: 8px;
          background-image: url("./images/lupa.png");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: 10px;
          text-align: center;
        } */

#services {
  margin: 70px 38px;
}

#services h2 {
  margin-top: 25px;
  font-size: 15px;
}

#services span {
  font-size: 15px;
}

#agendar {
  margin: -35px 220px;
}

#agendar button {
  margin: 0px -20px;
  position: absolute;
  width: 75px;
  height: 30px;
  border-radius: 8px;
  background-color: var(--cor--cinza);
  font-weight: 900;
  color: var(--cor--cinza-escuro);
}

#valor {
  text-align: right;
}

#tempo {
  margin: 17px 36px;
  font-size: 12px;
}

.submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.submenu li {
  margin-bottom: 5px;
}

.nav-item.active {
  font-weight: bold;
}

#corte {
  padding-bottom: 40px;
}

#barba {
  padding-bottom: 30px;
}

#pezinho {
  padding-bottom: 30px;
}

#cortebarba {
  padding-bottom: 30px;
}

#cortesobrancelha {
  padding-bottom: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container div {
  margin-bottom: 25px;
}

#portfolio {
  text-align: center;
  margin-top: 25px;
  line-height: 5;
}

#foto1 img,
#foto2 img,
#foto3 img,
#foto4 img,
#foto5 img,
#foto6 img {
  width: 700px;
  height: 500px;
  border-radius: 8px;
}

/* animação do icone curtir */
.icon {
  cursor: pointer;
}

.icon.active {
  filter: invert(39%) sepia(98%) saturate(3567%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}

#evaluation {
  h1 {
    margin-left: 80px;
    margin-top: 25px;
    font-size: 45px;
  }
  .estrela {
    width: 20px;
  }
  span {
    margin-left: 61px;
  }
}

#avaliacao {
  margin-left: 53px;
}

#nota {
  display: grid;
  margin-left: 180px;
  margin-top: -95px;
}

.estrelanota {
  width: 15px;
  position: absolute;
  margin: 2px 5px;
}

.status-bar {
  width: 250px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  position: relative;
  height: 10px;
  margin-top: 9.5px;
  border-radius: 10px;
}

.status-star {
  margin-top: -99px;
  margin-left: 95px;
}

.status-bar-fill {
  height: 100%;
  background-color: #f54905;
  width: 0;
  transition: width 0.5s;
}

#detalhes {
  margin-bottom: 35px;
}

#map {
  height: 300px; /* Altura do mapa */
  width: 100%; /* Largura do mapa */
  z-index: 0;
}

#navigate-button {
  margin-top: -150px;
  margin-left: 540px;
  height: 10vh;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.932);
  color: var(--cor--cinza-escuro);
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  width: 400px;
  border-radius: 10px;
  h1 {
    font-size: 15px;
    margin-left: -152px;
    margin-top: -53px;
  }

  span {
    font-size: 11px;
    margin-left: -6px;
  }
}

#iconnavegar {
  position: absolute;
  margin-left: 33px;
  margin-top: -9px;
}

#logobt {
  width: 60px;
  margin-left: -345px;
  margin-top: -17px;
}

.vertical-line {
  width: 1px;
  height: 50px;
  background-color: var(--cor--cinza-escuro);
  margin: -40px 320px;
  position: absolute;
}

.horizontal-line {
  border: none;
  height: 1px;
  background-color: var(--cor--cinza);
  width: 70%;
  margin: 15px auto; /* Centraliza a linha horizontal */
}

#horarios {
  h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: var(--cor--cinza-escuro);
  }
  a {
    text-decoration: none;
    color: var(--cor--cinza-escuro);
  }
}

#whatsapp {
  position: absolute;
  margin: -1px 20px;
}

.funcionamento {
  margin-left: 200px;
  line-height: 2;
}

#horas {
  margin: -30px 290px;
  position: absolute;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor--cinza-escuro);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  z-index: 3;
}

#scheduleModal {
  margin: 40px 220px;
  h2 {
    color: var(--cor--cinza-escuro);
  }
}

span.close {
  color: var(--cor--cinza-escuro);
  margin: -40px;
  font-size: 35px;
}

#scheduleForm {
  display: grid;
  width: 250px;
  text-align: center;
  input {
    border-radius: 4px;
    text-align: center;
    margin-bottom: 14px;
    height: 30px;
    font-weight: 600;
    border: 2px solid var(--cor--cinza-escuro); /* Define a cor da borda */
    background-color: var(--cor--cinza);
    color: var(--cor--cinza-escuro);
  }
  placeholder {
    color: var(--cor--cinza-escuro);
  }
  select {
    border-radius: 4px;
    text-align: center;
    height: 30px;
    background-color: var(--cor--cinza);
    color: var(--cor--cinza-escuro);
    font-weight: 600;
    border: 2px solid var(--cor--cinza-escuro); /* Define a cor da borda */
    margin-bottom: 8px;
  }
  button {
    height: 30px;
    border-radius: 4px;
    background-color: var(--cor--cinza-escuro);
    color: var(--cor--cinza);
    font-weight: 600;
    border: 2px solid var(--cor--cinza); /* Define a cor da borda */
    transition: background-color 0.3s ease; /* Adiciona transição suave */
    cursor: pointer;
  }
}

.cadastro {
  font-weight: 600;
  color: var(--cor--cinza);
  display: grid;
  text-align: center;
  margin-bottom: 100px;
  border: 2px solid var(--cor--cinza); /* Borda preta com 2px de espessura */
  padding: 20px; /* Espaço interno da div */
  border-radius: 8px; /* Bordas arredondadas */
  width: 300px; /* Largura do formulário */
  margin: 40px auto 70px; /* Centralizar a div */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para um efeito 3D */
  background-color: var(--cor--cinza-escuro);
  padding: 20px; /* Espaço interno da div */
  span {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  input {
    text-align: center;
    background-color: var(--cor--cinza);
    c
    border: 2px solid var(--cor--cinza); /* Define a cor da borda */
    margin-bottom: 10px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    color: var(--cor--cinza);
  }
  button {
    background-color: var(--cor--cinza);
    border-radius: 4px;
    color: var(--cor--cinza-escuro);
    border: 2px solid var(--cor--cinza);
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 24px;
    width: 200px;
    margin: 22px;
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 25px;
    margin: 14px 4px;
  }
}



button:active {
  background-color: var(--cor--cinza-escuro); /* Cor de fundo ao ser clicado */
}

.booking {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
